@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
}
.animate-float {
    animation: float 3s ease-in-out infinite;
}


.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.nav-logo {
    max-height:34px;
}

.gradient-btn {
    @apply inline-flex items-center justify-center w-full rounded-xl text-white font-semibold  px-6 py-3  bg-gradient-to-r from-primary-500 via-primary-500 to-secondary-500 hover:from-primary-600 hover:via-primary-600 hover:to-secondary-600 shadow-lg hover:shadow-xl transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 disabled:opacity-50 disabled:cursor-not-allowed;
}

.gradient-btn:hover {
    background: linear-gradient(135deg, #20387A 0%, #0fa99b 100%);
    transform: translateY(-1px);
}

.gradient-btn:active {
    transform: translateY(0);
}
